[submodule "SympleEngine/vender/spdlog"]
	path = SympleEngine/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SympleEngine/vender/GLFW"]
	path = SympleEngine/vender/GLFW
	url = https://github.com/Thecherno/glfw
